-#  Link showing page number
-#  available local variables
-#    page:          a page object for "this" page
-#    url:           url to this page
-#    current_page:  a page object for the currently displayed page
-#    total_pages:   total number of pages
-#    per_page:      number of items to fetch per page
-#    remote:        data-remote
- classes = %w(page-btn m-1)
- classes << 'is-current'  if page.current?
- classes = classes.join(' ')

= link_to page, url, {remote: remote, rel: page.rel, class: classes}
